.container {
  position: absolute;
  top: 50%;
  width: 99%;
  overflow: visible;
}

.main {
  position: absolute;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  top: -252px;
  text-align: center;
}

h1 {
  font-family: "Coustard", serif;
  font-weight: 400;
  font-size: 3.5em;
  margin-top: 0;
}

p {
  font-family: "Arial", "Helvetica", "Gill Sans", "Lucida Grande", "Verdana", sans-serif;
  color: #666;
}

a {
  text-decoration: none;
  color: #000;
  background: url(link_line_thin.jpg) no-repeat bottom right;
  padding-bottom: 2px;
}